.container {
    display: flex;
    border: 3px solid;
    /* width: 400px; */
}

.item1,
.item5,
.item9 {
    background-color: #ffecb3;
}

.item2,
.item6,
.item10 {
    background-color: #ffffe5;
}

.item3,
.item7 {
    background-color: #cbba83;
}

.item4,
.item8 {
    background-color: #ffcc80;
}

.flex-basis {
    /* flex-direction: column; */
}

.auto .item {
    flex-basis: auto;
}

.content .item {
    flex-basis: content;
}

.percent .item {
    flex-basis: 15%;
}

.rem .item {
    flex-basis: 3rem;
}

.px .item {
    flex-basis: 50px;
}

.width .item {
    width: 50px;
    word-wrap: break-word;
}

.flex-grow .item1 {
    /* flex-grow: 0;  기본값*/
    flex-grow: 0.2;
}

.flex-grow .item2 {
    flex-grow: 0.8;
}

.flex-grow .item3 {
    flex-grow: 1;
}

.flex-shrink .item1 {
    flex-shrink: 0;
    width: 300px;
}

.flex-shrink .item2 {
    flex-grow: 1;
}

.flex .item1 {
    /* flex: 1; */
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
    /* flex: 1 1 auto; */
    /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
    flex: 1 500px;
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 500px; */
}

.flex2 .item {
    flex: 1 1 0;
}

.flex2 .item2 {
    flex: 2 1 0;
}

.flex3 {
    display: flex;
    flex-wrap: wrap;
}

.flex3 .item {
    flex: 1 1 30%;
}

.align-self {
    height: 100px;
    align-items: flex-end;
}

.auto .item2 {
    align-self: auto;
}

.stretch .item2 {
    align-self: stretch;
}

.flex-start .item2 {
    align-self: flex-start;
}

.flex-end .item2 {
    align-self: flex-end;
}

.center .item2 {
    align-self: center;
}

.baseline .item2 {
    font-size: 30px;
    align-self: baseline;
}

.order .item1 {
    order: 2;
}

.order .item2 {
    order: 3;
}

.order .item3 {
    order: 1;
}

.z-index {
    height: 100px;
}

.z-index .item {
    margin: 4px;
    padding: 4px;
}

.z-index .item2 {
    z-index: 1;
    transform: scale(2);
    opacity: 0.8;
}