.container {
    display: grid;
    border: 3px solid;
    /* display: inline-grid; */
}

.item1 {
    background-color: rgb(241, 218, 223);
}

.item2 {
    background-color: rgb(234, 198, 208);

}

.item3 {
    background-color: rgb(226, 179, 194);
}

.item4 {
    background-color: rgb(218, 159, 179);
}

.item5 {
    background-color: rgb(203, 119, 149);
    ;
}

.item6 {
    background-color: rgb(187, 79, 119);
}

.item7 {
    background-color: rgb(172, 40, 90);
}

.item8 {
    background-color: rgb(164, 20, 75);
}

.item9 {
    background-color: rgb(156, 0, 60);
}

.grid-template-columns {
    grid-template-columns: 200px 200px 500px;
    /* grid-template-columns: 1fr 1fr 1fr */
    /* grid-template-columns: repeat(3, 1fr) */
    /* grid-template-columns: 200px 1fr */
    /* grid-template-columns: 100px 200px auto */
}

.grid-template-rows {
    /* grid-template-rows: 20px 20px 50px; */
    grid-template-rows: 2fr 1fr 1fr;
    /* grid-template-rows: repeat(9, 1fr); */
    /* grid-template-rows: 200px 1fr; */
    /* grid-template-rows: 100px 200px auto; */
}

.grid-template-columns-minmax {
    grid-template-columns: repeat(3, minmax(200px, auto));
    /*minmax(최소너비, 최대너비)*/
    grid-template-rows: repeat(3, minmax(50px, auto));
    /*minmax(최소높이, 최대높이)*/
}

.grid-template-columns-auto-fill {
    /* grid-template-columns: repeat(auto-fill, minmax(10%, auto)); */
    grid-template-columns: repeat(auto-fit, minmax(10%, auto));
}

.row-gap {
    row-gap: 10px;
}

.column-gap {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.gap {
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px 20px; */
    /* row-gap: 10px; column-gap: 20px; */
    /* gap: 2rem; */
    grid-gap: 1rem;

}

.grid-auto-rows {
    grid-auto-rows: minmax(30px, auto);
}


.align-items {
    grid-template-columns: repeat(3, 1fr);
    height: 7rem;
    gap: 3px;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.justify-items {
    grid-template-columns: repeat(3, 1fr);
    height: 7rem;
    gap: 3px;
}

.justify-items-stretch {
    justify-items: stretch;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-end {
    justify-items: end;
}

.place-items {
    grid-template-columns: repeat(3, 1fr);
    height: 7rem;
    gap: 3px;
    place-items: center start;
}

.align-content {
    grid-template-columns: repeat(3, 1fr);
    height: 15rem;
    gap: 3px;
    /* align-content: stretch; */
    align-content: start;
    /* align-content: center; */
    /* align-content: end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */
}