/**
기본 수평 네비바
*/
.horizontal-nav {
  margin: 0;
  padding: 0;
}

.horizontal-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*위 값이 없으면 배경색이 안 먹음*/
  background-color: #333;
}


/* 수평바 만드는 방벙 1: 블록요소를 인라인으로 배열*/
/* .horizontal-nav li {
  display: inline;
} */

/* 수평바 만드는 방법 2*/
.horizontal-nav li {
  float: left;
  border-right: 1px solid white;
}

.horizontal-nav li:last-child {
  border-right: none;
}

.horizontal-nav li a {
  display: block;
  /*block속성이 있어야 마진이나 패딩을 설정할 수 있다.*/
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.horizontal-nav li a:hover:not(.active) {
  background-color: #111;
}

.horizontal-nav li a.active {
  background-color: #04aa6d;
}

.horizontal-nav li.right {
  float: right;
}


/**
고정 수평 네비바
*/

.fixed-horizontal-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.fixed-horizontal-nav li {
  float: left;
}

/**
기본 수직 네비바
*/
.vertical-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

.vertical-nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical-nav li a.active {
  background-color: #04aa6d;
  color: white;
}


.vertical-nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.vertical-nav li {
  text-align: center;
}

.vertical-nav li:not(:last-child) {
  border-bottom: 1px solid #555;
}

/**
사이드 네비바
*/
.full-height {
  margin: 0;
  padding: 0;
}

.full-height ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  /* 스크롤 시에도 고정 */
  overflow: auto;
  /* 내용이 많아지면 스크롤이 가능하도록*/
}

.full-height li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.full-height li a.active {
  background-color: #04aa6d;
  color: white;
}

.full-height li a:hover:not(.active) {
  background-color: #555;
  color: white;
}