.color-mix li:nth-child(1) {
    background-color: color-mix(in srgb, #34c9eb 10%, white);
}

.color-mix li:nth-child(2) {
    background-color: color-mix(in srgb, #34c9eb 40%, white);
}

.color-mix li:nth-child(3) {
    background-color: color-mix(in srgb, #34c9eb 70%, white);
}

.accent-color {
    accent-color: red
}

.color-contrast1 {
    background-color: red;
    color: color-contrast(red);
}

.color-contrast2 {
    color: color-contrast(blue vs pink, yellow, green);
}

.parent:has(p) {
    background-color: red;
}

.nest {
    background-color: red;

    @nest & p {
        background-color: blue;

        & strong {
            color: yellow;
        }
    }
}

@scope (.darktheme) {

    title {
        color: white;
    }

    nav {
        background-color: black;
    }
}

@scope (.lighttheme) {
    title {
        color: black;
    }

    nav {
        background-color: white;
    }
}

.card-container {
    contain: style layout inline-size;
    width: 50%;
    border: 1px solid red;
    padding: 20px;
    transition: all 1s;
}

.title {
    font-size: 30px;
}

@container (min-width: 100px) {
    .title {
        font-size: 15px;
        color: gray;
    }
}