body {
    font-family: "D2Coding";
}

.container {
    display: flex;
}

.item1 {
    background-color: #ffecb3;
}

.item2 {
    background-color: #ffffe5;
}

.item3 {
    background-color: #cbba83;
}

.item4 {
    background-color: #ffcc80;
}


.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.row-reverse-wrap {
    flex-flow: row-reverse wrap;
}