body {
    font-family: "D2Coding";
}

.container {
    display: flex;
    border: 3px solid;
    width: 400px;
}

.item1 {
    background-color: #ffecb3;
}

.item2 {
    background-color: #ffffe5;
}

.item3 {
    background-color: #cbba83;
}

.item4 {
    background-color: #ffcc80;
}


.row {
    flex-direction: row;
    /* 기본값 */
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
    /* 기본값 */
}

.wrap {
    flex-wrap: wrap;

}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.row-reverse-wrap {
    flex-flow: row-reverse wrap;
}

.flex-start {
    /* height: 100px;
    flex-direction: column; */
    justify-content: flex-start;
}

.flex-end {
    /* height: 100px;
    flex-direction: column; */
    justify-content: flex-end;
}

.center {
    /* height: 100px;
    flex-direction: column; */
    justify-content: center;
}

.space-between {
    /* height: 100px;
    flex-direction: column; */
    justify-content: space-between;
}

.space-around {
    /* height: 100px;
    flex-direction: column; */
    justify-content: space-around;
}

.space-evenly {
    /* height: 100px;
    flex-direction: column; */
    justify-content: space-evenly;
}

.stretch {
    height: 100px;
    align-items: stretch;
}

.align-items-flex-start {
    height: 100px;
    align-items: flex-start;
}

.align-items-flex-end {
    height: 100px;
    align-items: flex-end;
}

.align-items-center {
    height: 100px;
    align-items: center;
}

.align-items-baseline {
    height: 100px;
    align-items: baseline;
}

.align-items-baseline .item1 {
    font-size: 10px;
}

.align-items-baseline .item2 {
    font-size: 50px;
}

.align-content-stretch {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: stretch;
}

.align-content-flex-start {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.align-content-flex-end {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.align-content-center {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: center;
}

.align-content-space-between {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: space-between;
}

.align-content-space-around {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: space-around;
}

.align-content-space-evenly {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    align-content: space-evenly;
}